appnope==0.1.0
Babel==2.9.1
backcall==0.1.0
bcrypt==3.1.4
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
decorator==4.3.0
Django==1.10
django-bootstrap3==10.0.1
django-debug-toolbar==1.9.1
django-phonenumber-field==2.0.1
django-tables2==1.21.2
django-twilio==0.9.3
idna==2.7
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
parso==0.3.1
pexpect==4.6.0
phonenumbers==8.9.11
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.2.0
PyJWT==1.6.4
PySocks==1.6.8
pytz==2018.5
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
South==1.0.2
sqlparse==0.2.4
traitlets==4.3.2
twilio==6.16.3
urllib3==1.23
wcwidth==0.1.7
